// Import all partials
@require './_*.styl'

@require './@media-full.styl'

// iPad Landscape width = 1024px / 16px = 64em
@media (max-width: 64em) // iPad
  @require './@media-64.styl'

// iPad Portrait width = 768px / 16px = 48em
@media (max-width: 48em) // iPad
  @require './@media-48.styl'